.maker-banner{
    height: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
}

.maker-cardmedia{
   height:140px;
   background-size: 100%;
}

.near-search{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}

.maker-card{
    max-width: 500px;
    width: 98%;
    min-width: 300px;
}

.empty-makers{
    margin-top: 10vh;
    text-align: center;

    h3,h4,h5{
        opacity: 0.4;
    }

    h5{
        margin-bottom:10px;
    }
}
.maker-card+.maker-card {
    margin-top: 10px;
}

.maker-cardcontent{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .maincontent{
        flex-direction: row;
        display: flex;
    }
    .subcontent{
        opacity: 0.8;
        color: grey;
        text-align: center;
    }

    h2{
        flex:1;
    }
}

.modes{
    position: absolute;
    margin-top: -156px;
    margin-left: -16px;
    padding: 3px;
    display: flex;
    flex-direction: row;

    .avatar-mode{
        color: #ff6600;
        background: white;
    }
    .avatar-mode + .avatar-mode{
        margin-left:10px;
    }
}