.maker-banner{
    height: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
}

.maker-cardmedia{
   height:140px;
   background-size: 100%;
}


.maker-card{
    max-width: 500px;
    width: 98%;
    min-width: 300px;
}

.maker-cardcontent{
    display: flex;
    align-items: center;

    h2{
        flex:1;
    }
}