.maker-banner{
    height: auto;
    width: 100%;
    max-width: 800px;
    border-radius: 4px;
}

.maker-cardmedia{
   height:140px;
   background-size: 100%;
}

.near-search{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}

.maker-card{
    max-width: 500px;
    width: 98%;
    min-width: 300px;
}

.empty-makers{
    margin-top: 10vh;
    text-align: center;

    h3,h4,h5{
        opacity: 0.4;
    }

    h5{
        margin-bottom:10px;
    }
}
.maker-cardcontent{
    display: flex;
    align-items: center;

    h2{
        flex:1;
    }
}