.content-price {
  padding-bottom: 0 !important;
  padding-top: 0.5rem !important;
}

.maker-container{
  margin-top:70px !important;
  padding: 0px 10px;

}

.my-p {
  margin-bottom: 5px !important;
}

.preview-paper {
  text-align: center;
  position: absolute;
  top: calc(#{"30% - 100px"});
  left: calc(#{"50% - 200px"});
  right: calc(#{"50% - 200px"});
  padding: 5px 3px 3px 3px;

  img {
    max-height: 75vh;
    width: 100%;
  }
}
.product-card{
  margin: 5px;
  width: 400px;
}
@media (max-width: 700px){
  .product-card{
  width: 90vw;
  }
}

.products-grid{
  margin-top: 20px !important;
}


.typo-price{
  display: flex;
  justify-content: space-between;

  button{
    margin-top: -28px;
  }
}

.cardaction-product{
  justify-content: space-between;
}