@media (max-width: 450px) { 
    .payments{
        flex-direction: column;
    }
    .payments > div{
        margin-top:10px;
    }
 }
 .discover-content{
     padding-bottom:0px !important;
 }

 .makerDesc{
    white-space: pre-wrap;
    word-break: break-word;
 }