.order-container{
    padding: 0px 30px 30px 30px; 
}

.order{
    margin-bottom: 100px;
}

.my-group{
    margin:15px 0px !important;
}

.my-speed-dial{
    position: fixed;
    bottom:30px;
    right:40px;
}

.fab-actions{
    position: fixed;
    bottom: 26px;
    right: 41px;
}
.fab-actions button + button {
    margin-left: 40px;
}

.order-sumup, .order-product{
    margin:20px;
}

.avatar-transparent{
    background-color: transparent !important;
}

strong.total{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
}

.product-label{
    font-size:1.3rem !important;
}
.flag-ok{
    color:#4caf50 !important;
}
.flag-ko{
    color:#f44336 !important;
}
.flag{
    margin-right:10px;
    margin-bottom: 10px;
}

@media print {
    .my-speed-dial, .MuiAppBar-root{
        display:none !important;
    }
    .order{
        margin-top:0px !important;
    }
}

