.cart-footer {
    position: fixed;
    bottom: 0;
    background: white;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

    .actions {
        margin-top: 10px;
        justify-content: center;
        display: flex;

        .main-action {
            width: 12rem;

        }
    }

    &>div {
        display: flex;

        &>div.total {
            &>div:first-child {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
            }
        }

        &>div.price {
            font-size: 2rem;
        }


        &>div:first-child {
            flex: 1;
            align-items: center;
            display: flex;
        }
    }
}