.cart-container{
    margin-top: 70px !important;
}

.empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon{
        font-size: 10rem;
        opacity: 0.5;
        padding: 40px;
    }
}

.card-info{
    width:300px;
}

.groups{
    margin-top:30px;
    padding: 0 10px;
}
.cart{
    margin-bottom: 160px;
}

.group-detail{
    padding: 11px !important;
}
.my-product{
    display:flex;
    flex-direction: row;

    .product-preview{
        width:100px;
        img{
            width:100%;
            border-radius: 4px;
        }
    }
    .product-info{
        flex:1;
        display: flex;
        flex-direction: column;

        .product-main{
            display: flex;
            flex-direction: row;

            .product-qty{
                flex:1;
            }
        }
    }
}